* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#inbox-name {
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 600;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;

}

#main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 4rem;
}

#filter {
    width: 75vw;
    transform: translate(15%, 50%);
    height: 10%;
    margin: auto;
    border: 1px solid;
    padding: 14px;
}

#filter-text {
    position: absolute;
    margin-top: -1.7rem;
    background-color: white;
}

.subject {

    margin: 0 auto;
    border: 1px solid lightgray;
    width: 75vw;
    transform: translate(15%);
    height: 10rem;
    padding: 5px 10px;
    overflow: hidden;
    background-color: #f2f6fc;
}

#text {

    transform: translate(24%);
}

#link-in-subject {
    display: flex;
    gap: 2rem;
    font-size: 12px;
      flex-direction: column;
      position: fixed;
      bottom: 10px;
      right: 0;
  


}

#link-in-subject a {
    text-decoration: none;

}

.delete-link {
    background-color: white;
    color: red;

}
.delete-link:hover{
    background-color: red;
    color:white;
}

.mark-link {
    background-color: white;
    color: orange;
}
.mark-link:hover{
    background-color: orange;
    color:white;
}

.report-link {
    background-color: white;
    color: green;
}
.report-link:hover{
    background-color: green;
    color:white;
}
#link{
    display: flex;;
    justify-content: flex-end;
    margin-right: 1rem;
    gap: 1rem;
 
}
#star{
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    margin-right: 1rem;
    color: orange;
   
}
